.sidebar {
  width: 230px;
  background: white;
  border-right: 1px solid #E6E5E1;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #F26522;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item {
  font-size: 15px;
  color: #525049;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
}

.item:hover {
  background: #FAFAF9;
  color: #1C1B14;
}
